[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule ".config/nvim/custom/cursortab.nvim"]
	path = .config/nvim/custom/cursortab.nvim
	url = git@github.com:leonardcser/cursortab.nvim.git
[submodule ".config/nvim/custom/nvim-tree-crossclip.nvim"]
	path = .config/nvim/custom/nvim-tree-crossclip.nvim
	url = git@github.com:leonardcser/nvim-tree-crossclip.nvim.git
[submodule ".config/nvim/custom/wpm-tracker.nvim"]
	path = .config/nvim/custom/wpm-tracker.nvim
	url = git@github.com:leonardcser/wpm-tracker.nvim
